name: Deno

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deno:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # we test on both most recent stable version of deno (v2.x) as well as
        # the version of deno used by Run on Slack (v1.46.2)
        deno-version:
          - v1.x
          - v1.46.2
          - v2.x
    permissions:
      contents: read
    steps:
      - name: Setup repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Deno ${{ matrix.deno-version }}
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Run tests
        run: deno task test

      - name: Generate CodeCov-friendly coverage report
        run: deno task coverage

      - name: Upload coverage to CodeCov
        if: ${{ matrix.deno-version == 'v2.x' }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ./lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
